.playlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(#121212, #121212) padding-box;
    color: white;
    font-family: sans-serif;

    min-height: 100vh;
    min-width: 500px;

    border: 4px solid black;

    font-family: '';
}

.playlistContainer p {
    font-size: 1.1rem;
}

.playlistForm {
  display: flex;
  flex-direction: column;   /* stack input, songs, button */
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.playlistName {
    background: transparent;
    color: white;
    width: 100%;
    max-width: 500px;
    width: 500px;

    font-size: 1.5rem;
    font-family: 'Bitcount Single';
    font-weight: bold;
    text-align: left;

    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 8px;

    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;


    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 6px;

}

.songList {
  flex: 1;                 /* grow to fill all available space */
  overflow-y: auto;        /* scroll if too many songs */
  margin-bottom: 16px;     /* spacing before button */
  max-height: 400px;
}

.button {
    border-radius: 999px;
    color:#3df53d;
    height: 65px;
    width: 120px;

    background:
        linear-gradient(#121212, #121212) padding-box,
        linear-gradient(
            var(--angle),
            #f61cf673,
            #3df53d
        ) border-box;


    border: 3px solid transparent;

    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Bitcount Single";
}

.button:hover:not(:focus) {
  animation: pulseGlow 1.6s ease-in-out infinite;
  box-shadow: 0 0 14px rgba(199, 125, 255, 0.7);
  cursor: pointer;
  
}

.button:active {
    background:
    radial-gradient(
      circle at top left,
      rgba(246, 28, 246, 0.45),
      transparent 60%
    ),
    radial-gradient(
      circle at bottom right,
      #3df53d,
      transparent 55%
    ),
    linear-gradient(
      to bottom,
      #2a001f,
      #0a0a0a
    );

    border: 3px solid black;
    color: white;
}

.submitWrapper {
  margin-top: auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  width: 100%;

}

.playlistName:focus {
  outline: none;
  border-color: #3df53d;
  box-shadow: 0 0 10px rgba(61, 245, 61, 0.6);
}

.playlistName:hover {
    cursor: text;
}

.playlistName::placeholder {
  color: white;
}