.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.viewport {
    display: flex;
    justify-content: center;


    background: linear-gradient(#121212, #121212) padding-box;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    min-height: 400px;
    height: 400px;
    min-width: 500px;
    width: 500px;

    border: 4px solid black;

    
}

