.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to bottom,
        rgba(128, 0, 128, 0.7),
        rgba(0, 0, 0, 0.9)
        ), url("../../assets/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px, 20px;
    width: 100%;
    min-height: 100px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}