.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to bottom,
        rgba(128, 0, 128, 0.7),
        rgba(0, 0, 0, 0.9)
        ), url("../../assets/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px 10px;
    width: 100%;
    min-height: 100px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3df53d;
    font-family: 'Bitcount Single', sans-serif;
}

.textContainer h1 {
    font-family: 'Bitcount Single', sans-serif;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 4px;
}

.textContainer p {
    padding-bottom: 10px;
    margin-top: 5px;
    font-family: 'Bitcount Single', sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: large;
}