* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* optional: ensures full height for children */
}

.appContainer {
  background:
    radial-gradient(
      circle at top left,
      rgba(246, 28, 246, 0.45),
      transparent 60%
    ),
    radial-gradient(
      circle at bottom right,
      #3df53d,
      transparent 55%
    ),
    linear-gradient(
      to bottom,
      #2a001f,
      #0a0a0a
    );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mainBody {
  display: flex;
  gap: 24px;
  padding: 20px 50px;
  box-sizing: border-box;
  
  height: calc(100vh -  HEADER_HEIGHT); /* dynamically fit viewport minus any header */
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden; /* prevents spilling */
}

#results {
  flex: 1; /* fills available space in mainBody */
}